div p{  display: none;

    


}
div:hover p{
    display: block;
    color:white;
    background-color: red;
    width: 300px;
    
}

ul:hover{

    display: block;
    
}

li:hover{
 color: red;
 font-size: 50px;


}








